.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
}

.modal-link-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 350px;
    max-width: 70%;
    transform: none;
    z-index: 1;
    opacity: 1;
    overflow-x: hidden;
    background: rgb(255, 255, 255);

}

.modal-link {
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 16px;
    font-family: Plain;
    letter-spacing: 1px;
    text-transform: capitalize;
    padding: 8px 24px;
    border-bottom: 1px solid rgb(222, 222, 222);
    text-decoration: none;
    
}