
<% if current_user %>
<script type="text/javascript">
    window.currentUser = <%= render(
        "api/users/user.json.jbuilder",
        user: current_user
    ).html_safe %>
</script>
<% end %>

<script type="text/javascript">
    window.airmonarchURL = "<%= image_url('airm.png') %>";
</script>
<main id="root"></main>


