// Place all the styles related to the api/listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.listings-index-container{
    width: 100%;
    padding-top: 25px;
}

.listings-index-x{
    padding-left: 50px;
}

.listing-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.listing-index-item {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-top: .5px solid rgb(222, 222, 222);
    border-bottom: .5px solid rgb(222, 222, 222);
    margin-top: -1px;

}

.listing-index-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    
}

.listing-index-header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listing-index-details-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.listing-index-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    font-size: .8em;
    text-transform: uppercase;
    border-top: 1px solid rgb(222, 222, 222);
    border-bottom: 1px solid rgb(222, 222, 222);
    margin-bottom: -1px;
    margin-left: 100px;
    margin-right: 100px;

}

.listing-index-item-button{
    width: 100%;
    position: absolute;
    bottom: .2px;    
    outline: none;
}

.listing-index-item-button button:hover{
    text-decoration: underline;
}

.listing-cancel{
    border: none;
    width: 50%;
    box-sizing: border-box;
    border-top: 1px solid #000;
    height: 50px;
    text-transform: uppercase;
    border-right: 1px solid #000;
}

.add-to-cart{
    border: none;
    width: 50%;
    box-sizing: border-box;
    border-top: 1px solid #000;
    height: 50px;
    text-transform: uppercase;
}

.listing-index-item:hover{
    outline: 1px solid black;
}

.listing-price{
    color: #000;
    padding-left: 50px;
}

.listing-size{
    color: #000;
    font-weight: bolder;
}