// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.session-image {
    width:70%;
    height: auto;
    flex: 1 1 0%;
    overflow: auto;
    object-fit: contain;
}

.signup-header, .login-header {
    align-self: center;
    padding: 30px;
}

.session-container {
    display: flex;
    flex-direction: row;
    max-height: 900px;
    min-height: 600px;
    width: 80%;
    transform: translateX(10%) translateY(15%);
    border: 1px solid black;
    margin-top: 40px;
    position: relative;
    

}

.session-image-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 0%;
    overflow: auto;
    border-right: 1px solid black;

}

.session-fields{
    width: 50%;
}

.sign-up-fields {
    box-sizing: border-box;
    width: 50%;
    padding: 24px;
    display: flex;
    justify-content: center;
    padding-left: 10px;
    overflow: hidden;
   
    
}

.session-label {
    width: 80%;
    padding-bottom: 15px;
    align-self: center;
}

.session-container form {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    overflow: hidden;
}


.session-input {
    outline: none;
    width: 80%;
    font-size: 1em;
    border-radius: 8px;;
    padding: 10px;
}

.demo-button {
    border: none;
    cursor: pointer;
    border-top: 1px solid black;
    border-right: 1px solid black;
    bottom: 0;
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 2px;
    padding:0px;
    box-sizing: inherit;
}

.demo-button:hover {
    text-decoration: underline;
}

.session-button {
    border: none;
    cursor: pointer;
    border-top: 1px solid black;
    bottom: 0;
    right: 0;
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 15px 0px;
    box-sizing: inherit;

}

.session-button:hover{
    text-decoration: underline;
}



.session-submit-container {
    display: flex;
    bottom: 0;
    position: absolute;
    width: 50%;
}

.session-errors {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    padding-left: 10px;
    padding-right: none;
    padding-top: none;
    color: red;
    padding-bottom: none;
}
