// Place all the styles related to the api/sneakers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sneaker-index-header {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
    align-items: center;
}

.sneaker-index-container {
    display: flex;

    flex-flow: wrap row;
    margin: none;
    padding: none;
    
}

.sneaker-index-items-container{
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;


}

.sneaker-container {
    max-width: 1250px;
    justify-content: center;
    margin: auto;

}

.sneaker-item-container {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    font-family: 'Overpass', sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    margin-left: -1px;
    margin-top: -1px;
}

.sneaker-item-image {
  width: 80%;
  height: auto;
  padding: 20px;
  padding-top: 0;

}

.sneaker-item-image-container {
  margin-top: 30px;
  overflow: hidden;
}

.load-more-button {
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 200px;
    height: 35px;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 2px;
    box-sizing: inherit;

}

.load-more-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.sneaker-show-container {
  box-sizing: border-box;
  display: flex;
  width: 90%;
  margin: 0 auto;
  min-height: 600px;
  border: 1px solid #000;
  margin-top: 102px;
}

.sneaker-show-image-container, .sneaker-show-right-container {
  box-sizing: border-box;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sneaker-show-image-container {
  border-right: 1px solid #000;
  position: relative;
  justify-content: flex-end;
  padding-bottom: 40px;

}

.sneaker-show-image {
  width: 55%;
  height: auto;
}

.sneaker-show-right-details {
  width: 100%;
}

.sneaker-show-image, .sneaker-show-right-details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sneaker-details, .sneaker-show-buttons {
  margin-top: auto;
  font-size: .8em;
  color: #333;
  font-weight: lighter;
}

.sneaker-details{
  color: #777;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.sneaker-right-container-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.sneaker-name, .sneaker-sku {
  text-align: center;
}

.sneaker-name {
  font-size: 1.2em;
  text-transform: uppercase;
}

.sneaker-sku {
  font-size: 1em;
}

.sneaker-sku {
  margin-top: 2em;
  color: #777;
}


.sneaker-show-buttons {
  width: 100%;
}

.sneaker-show-buttons button {
  border: none;
  box-sizing: border-box;
  width: 50%;
  padding: 12px;
  border-top: 1px solid #000;
  cursor: pointer;
  font-weight: bold;
  height: 50px;
}

.sneaker-show-buttons button:hover{
  text-decoration: underline;
} 

.sneaker-show-buttons button:first-child {
  border: none;
  border-right: 1px solid #000;
  border-top: 1px solid #000;

}

.details-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 100px;
}

.details-pair-container{
  display: flex;
  width: 75%;
  justify-content: space-between;
  border-top: 1px solid rgb(222, 222, 222);
  border-bottom: 1px solid rgb(222, 222, 222);
  margin-bottom: -1px;
  color: rgb(161, 161, 161);
  height: 25px;
  align-items: center;
  text-transform: uppercase;
  font-size: .8em;
}

.detail-header{
  display: flex;
  justify-content: center;

}

.detail-desciption{
  text-align: center;
  width: 70%;
}

.description-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.sneaker-item-container:hover {
  outline: 2px solid black;
}

.detail-icon{
  padding-left: 5px ;
}

.load-more-button:hover{
  text-decoration: underline;
}

.sneaker-item-name{
    color: #000;

}

.apparel-item-image {
  width: 80%;
  height: auto;
}