/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 :root {
  --shadow-l: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

body{
    margin: 0;
}

.splash-image-container {
    width: 100%;
    position: absolute;
    height: 600px;
    transform: translateY(100px);
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(238, 197, 144, 0.459); */
}

.brown {
    background-color: rgba(238, 197, 144, 0.459);
}
.black {
    background-color:  rgba(77, 83, 112, 0.158);
}
.white {
    background-color: rgba(241, 179, 99, 0.438);
}
.orange {
    background-color: rgba(197, 72, 72, 0.295);
}
.yellow {
    background-color: rgba(144, 219, 238, 0.192);
}
#splash-img {
    width: 60%;
    height: auto;
}

/* .splash-text {
    color: white;
    position: absolute;
    left: 20%;
    top: 30%;
} */


* {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;

}

button:focus {outline:0;}
input:focus {outline:0}

