/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.splash-image-container {
    display: flex;
    justify-content: center;
    padding-top: 200px;
    background: url('bkgrd.jpeg') center no-repeat;
    min-height: 600px;
    width: 100%;
    position: relative;
    padding: 0;
}

.splash-text {
    color: white;
    position: absolute;
    left: 300px;
    top: 125px
}

textarea{ 
    text-transform: uppercase; 
    text-align: center;
    vertical-align: middle;
    padding-top: 30px;
}

* {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;

}

button:focus {outline:0;}
input:focus {outline:0}
