.style-container {
    width: 85%;
    // height: 1500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 100px;
    padding-right: 100px;
    
}

.style-column{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.style-image-odd{
    width: 85%;
    height: auto;
    padding-bottom: 100px;
}

.style-image-even{
    width: 85%;
    height: auto;
    padding-bottom: 150px;
}

.style-image-odd:hover{
    transition: transform .5s ease-in-out;

    transform: scale(1.15);
}

.style-image-even:hover{
    transition: transform .5s ease-in-out;

    transform: scale(1.15);
}

.style-header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

