.style-container {
    width: 85%;
    height: 1500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 100px;
    padding-right: 100px;
    
}

.style-column{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.style-image{
    width: 85%;
    height: auto;
}

.style-image:hover{
    transition: transform .5s ease;

    transform: scale(1.1);
}

.style-header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

